# Parsing APIs Example

## Intro

Now we will take a look on a real data. When you parse data from web you will often meet API based web-pages. 

For example [zalando.fr](https://www.zalando.fr/accueil-homme/) is API based web-page. 

In this guided lab you will learn how to obtain the links from webpages and extract the data. Read through this doc, execute the cells in order and make sure you understand the explanations. 

*Note: This guided lab uses Google Chrome. Other browsers like Safari and Firefox have similar tools for developers but they work differently. To save your time in following this lab, it is strongly recommended that you install and use Google Chrome.*

## Obtaining the link

Zalando is discount e-store where you can buy clothes and accesories with discount. When we go to the web-page, we can choose different sections. First the general process will be shown using [Children section](https://www.zalando.fr/accueil-enfant/) as example.

Here we will parse data about promotions only. Therefore, final output will be the DataFrame with all the goods under discount.

[![Image from Gyazo](https://i.gyazo.com/fa4874d8e81c7570273bbfb853d66308.png)](https://gyazo.com/fa4874d8e81c7570273bbfb853d66308)


We go to Promos page. Right click of mouse shows us a list of actions possible, from which we select Inspect.

<img src='https://i.gyazo.com/bccbd11d69c9040dc98758d443e32052.png' width="400">


You will see the menu dropdown on the right side or on the bottom of the window. There you should click on Network:


[![Image from Gyazo](https://i.gyazo.com/f7e0db81cbfee67694183d1a7640bf81.png)](https://gyazo.com/f7e0db81cbfee67694183d1a7640bf81)

Right after the developer part will change showing the files behind the page. In order to obtain only useful files we select the following settings:
1. Preserve Log
2. Select XHR files.

[![Image from Gyazo](https://i.gyazo.com/9a899d4441d9d93e795f79747f1e47d5.png)](https://gyazo.com/9a899d4441d9d93e795f79747f1e47d5)

In order to obtain some files we need to scrool down and go forward to second page. 

[![Image from Gyazo](https://i.gyazo.com/0956eb3d5125075a236c9a439c7749c7.png)](https://gyazo.com/0956eb3d5125075a236c9a439c7749c7)

In the Network panel you can see the following files being uploaded. All the data on the web-page is uploaded from the json file, which is one of the following. It is important to understand which file contains what kind of information. 

<a href="https://gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c"><img src="https://i.gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c.png" alt="Image from Gyazo" width="724.8"/></a>

When you find what kind of information you need for the data to be uploaded you just test it. Here we need the article... file:

<a href="https://gyazo.com/78b35bf492994b3f35c0564a21da202a"><img src="https://i.gyazo.com/78b35bf492994b3f35c0564a21da202a.png" alt="Image from Gyazo" width="727.2"/></a>

When we test the link in Chrome inkognito mode we obtain the proper json file:


<a href="https://gyazo.com/b60453fa98454fa29771c731a5174443"><img src="https://i.gyazo.com/b60453fa98454fa29771c731a5174443.png" alt="Image from Gyazo" width="1530.4"/></a>

In order to change the objects in the json file (kind of pagination), you need to change the offset (the number of the first element on the page). in fact, if you take a look on the link, it is easy to unerstand the structure of the link.

# Reading the data

Now the party rocks! When we know how can we obtain the data, it is not a problem to obtain the whole database with all the data from the web-page.
In this lab you will collect your database of Zalando products. You select which goods you want to track. You can define as many filters to your data as you want. Just make sure that the data represents the filters.

In [7]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [8]:
# Paste the url you obtained for your data
url='https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset=84&sort=sale'

#### Collect first 84 object of the of the data (1st page)

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having *family_articles, flags, media* and *sizes* remaining lists (they are exceptions).

In [16]:
# Your code
headers = {"User-Agent": "Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9.2.8) Gecko/20100722 Firefox/3.6.8 GTB7.1 (.NET CLR 3.5.30729)", "Referer": "http://example.com"}
response = requests.get(url, headers=headers, timeout=5)
results = response.json()


flattened_data = json_normalize(results)

flattened_data1 = json_normalize(flattened_data.articles[0])

#### Collect all the objects from selected filters. Total number of pages can be found in the same json. Use *sku* column as index.

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having family_articles, flags, media and sizes remaining lists (they are exceptions).

In [24]:
# Get the total number of pages
total_pages=results['pagination']['page_count']

# Your code
df=pd.DataFrame()
for i in range(total_pages):
    k=84*i
    url=f'https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset={k}&sort=sale'
    response = requests.get(url, headers=headers, timeout=5)
    results = response.json()
    flattened_data = json_normalize(results)
    flattened_data1 = json_normalize(flattened_data.articles[0])
    flattened_data1=flattened_data1.set_index('sku')
    df = df.append(flattened_data1)

df.head(5)

,amount,brand_name,family_articles,flags,is_premium,media,name,price.has_different_original_prices,price.has_different_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,price.original,price.promotional,product_group,sizes,url_key
sku,,,,,,,,,,,,,,,,
AD116D0GW-A11,NaN,adidas Originals,[],"[{'key': 'discountRate', 'value': 'Jusqu’à -30...",False,[{'path': 'AD/11/6D/0G/WA/11/AD116D0GW-A11@3.j...,CONTINENTAL 80 - Baskets basses - footwear whi...,False,True,True,False,"64,95 €","45,45 €",shoe,"[36, 38, 35 1/2, 36 2/3, 37 1/3, 38 2/3]",adidas-originals-continental-80-baskets-basses...
AD116D007-A11,NaN,adidas Originals,[],"[{'key': 'discountRate', 'value': '-30%', 'tra...",False,[{'path': 'AD/11/6D/00/7A/11/AD116D007-A11@12....,STAN SMITH - Baskets basses - white,False,False,False,False,"54,95 €","38,45 €",shoe,"[28, 29, 30, 31, 32, 33, 34, 35]",adidas-originals-stan-smith-baskets-basses-bla...
AD116D008-A11,NaN,adidas Originals,[],"[{'key': 'discountRate', 'value': '-30%', 'tra...",False,[{'path': 'AD/11/6D/00/8A/11/AD116D008-A11@18....,STAN SMITH - Baskets basses - white/green,False,False,False,False,"64,95 €","45,45 €",shoe,"[36, 38, 35 1/2, 36 2/3, 37 1/3, 38 2/3]",adidas-originals-stan-smith-baskets-basses-bla...
NI114D058-Q11,NaN,Nike Sportswear,[],"[{'key': 'discountRate', 'value': '-20%', 'tra...",False,[{'path': 'NI/11/4D/05/8Q/11/NI114D058-Q11@12....,COURT BOROUGH - Baskets basses - black,False,False,False,False,"34,95 €","27,95 €",shoe,"[27.5, 28, 28.5, 29.5, 30, 31, 31.5, 32, 33, 3...",nike-sportswear-baskets-basses-black-ni114d058...
TO124G05S-K11,NaN,Tommy Hilfiger,[],"[{'key': 'discountRate', 'value': '-25%', 'tra...",True,[{'path': 'TO/12/4G/05/SK/11/TO124G05S-K11@6.1...,BOYS BASIC - T-shirt basique - sky captain,False,True,True,False,"14,95 €","11,20 €",clothing,"[4a, 6a, 7a, 8a, 10a, 12a, 14a, 16a]",tommy-hilfiger-boys-basic-t-shirt-basique-to12...

#### Display the trending brand in DataFrame

In [35]:
df.brand_name.value_counts().index[0]

'Friboo'

#### Display the brand with maximal total discount (sum of discounts on all goods

In [27]:
#Our data is still text. Convert prices into numbers:
df['price.original']=df['price.original'].str.extract('(\d*,\d*)')
df['price.promotional']=df['price.promotional'].str.extract('(\d*,\d*)')

df['price.original'] = [x.replace(',', '.') for x in df['price.original']]
df['price.promotional'] = [x.replace(',', '.') for x in df['price.promotional']]

In [28]:
df['discount_amount']=df['price.original'].astype(float)-df['price.promotional'].astype(float)
df1=df.copy()

In [29]:
total_disc=df1.groupby(['brand_name']).sum().discount_amount

In [30]:
total_disc.sort_values(ascending=False).index[0]

'Friboo'

#### Display the brands without discount at all

In [34]:
total_disc[total_disc==0]

Series([], Name: discount_amount, dtype: float64)