# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Working with JSON files

Import the pandas library

In [10]:
# Your import here:
import pandas as pd

####  After importing pandas, let's find a dataset. In this lesson we will be working with a NASA dataset.

Run the code in the cell below to load the dataset containing information about asteroids that have landed on earth. This piece of code helps us open the URL for the dataset and deocde the data using UTF-8.

In [1]:
# Run this code

from urllib.request import urlopen
import json

response = urlopen("https://data.nasa.gov/resource/y77d-th95.json")
json_data = response.read().decode('utf-8', 'replace')

URLError: <urlopen error [Errno 65] No route to host>

In the next cell, load the data in `json_data` and load it into a pandas dataframe. Name the dataframe `nasa`.

In [ ]:
# Your code here:
loaded_json= json.loads(json_data)
nasa = pd.DataFrame(loaded_json)

Now that we have loaded the data, let's examine it using the `head()` function.

In [20]:
# Your code here:
nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21,Aachen,Valid,L5,50.775000,6.083330,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720,Aarhus,Valid,H6,56.183330,10.233330,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000,Abee,Valid,EH4,54.216670,-113.000000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914,Acapulco,Valid,Acapulcoite,16.883330,-99.900000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780,Achiras,Valid,L6,-33.166670,-64.950000,1902-01-01T00:00:00.000

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [22]:
# Your code here:

print(nasa['fall'].value_counts())

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Since we downloaded the file from an online source, the goal of saving the dataframe is to have a local copy. Save the dataframe using the `orient=records` argument and name the file `nasa.json`.

In [26]:
# Your code here:
nasa.to_json(r'/Users/macbookpro/Desktop/Ironhack/Labs/data-labs/module-1/lab-import-export/your-code/nasa.json', orient='split')

# Challenge 2 - Working with CSV and Other Separated Files

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [34]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [35]:
# Your code here:
shuttle = pd.read_csv('shuttle.csv')
print(shuttle)

       time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
0         0        81          0        -6    11      25         88        64
1         0        96          0        52    -4      40         44         4
2        -1        89         -7        50     0      39         40         2
3         9        79          0        42    -2      25         37        12
4         2        82          0        54    -6      26         28         2
5         0        84          3        38    -4      43         45         2
6         0       100          0        36    -8      63         64         2
7         0        83          0        46     0      37         36         0
8         0        79          0        42   -17      35         37         2
9        -1        78          0        44     0      34         34         0
10        0        81          0        54   -10      25         26         2
11        0        95          0        52    -3      40         44         4
12        0       100          0        34     6      64         67         4
13       -3        86          2        44    14      43         42         0
14       -5        84          0        46     0      38         37         0
15        0        81          0        44     0      36         37         0
16        0        86          0        50    30      38         37         0
17        0        78          0        42    -2      22         37        14
18        0        77          0        18   -18      22         59        38
19        5        90          0        44     0      44         46         2
20        0        77          0       -20    27      41         98        58
21        0        90         -6        18     0      53         72        20
22       -8        77          0        20     0      40         57        16
23        5        95         -3        50     0      45         46         2
24       -2        76          0        44    15      32         32         0
25       -1        85         -5        42     0      44         44         0
26        0        97          0        46    -2      42         51         8
27        0        76          0        26    20      39         50        12
28        0        76          8        30     0      40         45         6
29        0       106          0        46     9      61         60         0
...     ...       ...        ...       ...   ...     ...        ...       ...
14470     0        97          0        42     0      41         55        14
14471     0        84         -3        44     0      40         40         0
14472    -1        85         -4        46   -14      39         39         0
14473     0        77          0        44    -6      32         34         2
14474     0        98          0        44    11      42         54        12
14475    -2        88         -3        46    11      42         41         0
14476     0        83          0        42    10      42         41         0
14477     0        86         -4        42    -6      42         44         2
14478     0        96          0        46    -6      41         50         8
14479     0        86          1        42   -27      43         45         2
14480     0        98         -1        42   -17      42         57        14
14481    -5        82          0        50    10      33         33         0
14482     0        78         -2        18     0      23         60        38
14483     5        79          0        44     1      35         35         0
14484     2        77          0        46    -1      30         31         0
14485     4        77          0        44     0      31         33         2
14486     0        79          0        30     9      42         48         6
14487    -1        85          0        42   -10      42         44         2
14488     0        76          8        42     0      33         35         2
14489     0        80          0        30    24      43         49         6
14490     2        79          0        38    18      42         41         0
14491     0       102          0        70    -3       1         33        32
14492    -2        80         -4        38     0      41         41         0
14493     0        81          1        42    -9      37         39         2
14494     0        87          0        46   -12      38         41         2
14495     0        84          0       -36   -29       4        120       116
14496     0        81          0       -20    25      26        102        76
14497     0        77          0        12   -22      22         65        42
14498     0       103          0        18   -16      66         85        20
14499     2        98          0        52     1      42         46         4

       class
0          4
1          4
2          1
3          4
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         4
12         1
13         1
14         1
15         1
16         1
17         4
18         4
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         4
27         1
28         1
29         1
...      ...
14470      4
14471      1
14472      1
14473      1
14474      4
14475      1
14476      1
14477      1
14478      4
14479      1
14480      4
14481      1
14482      4
14483      1
14484      1
14485      1
14486      1
14487      1
14488      1
14489      1
14490      1
14491      5
14492      1
14493      1
14494      1
14495      5
14496      4
14497      4
14498      1
14499      4

[14500 rows x 9 columns]

Let's verify that this worked by looking at the `head()` function.

In [43]:
# Your code here:

print(shuttle.head())

   time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
0     0        81          0        -6    11      25         88        64
1     0        96          0        52    -4      40         44         4
2    -1        89         -7        50     0      39         40         2
3     9        79          0        42    -2      25         37        12
4     2        82          0        54    -6      26         28         2

   class
0      4
1      4
2      1
3      4
4      1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [37]:
# Your code here:

shuttle.to_csv(r'/Users/macbookpro/Desktop/Ironhack/Labs/data-labs/module-1/lab-import-export/your-code/shuttle.csv',index=False)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [41]:
# Your code here:
import xlrd
astronauts = pd.read_excel('/Users/macbookpro/Desktop/Ironhack/Labs/data-labs/module-1/lab-import-export/your-code/astronauts.xls')

Use the `head()` function to inspect the dataframe.

In [42]:
# Your code here:
astronauts.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [44]:
# Your code here:

print(astronauts['Undergraduate Major'].value_counts())

Physics                                                                35
Aerospace Engineering                                                  33
Mechanical Engineering                                                 30
Aeronautical Engineering                                               28
Electrical Engineering                                                 23
Engineering Science                                                    13
Engineering                                                            12
Mathematics                                                            11
Chemistry                                                              10
Chemical Engineering                                                    9
Naval Sciences                                                          9
Astronautical Engineering                                               8
Aeronautical & Astronautical Engineering                                6
Geology                                                                 5
Civil Engineering                                                       5
Mathematics & Physics                                                   5
Biology                                                                 5
Physics & Astronomy                                                     4
Applied Science & Engineering                                           4
Aeronautics & Astronautics                                              3
Engineering Physics                                                     3
Applied Mathematics                                                     3
Computer Science                                                        3
Engineering Management                                                  2
Ocean Engineering                                                       2
Education                                                               2
Engineering Mechanics                                                   2
Chemistry & Biology                                                     2
Biological Science                                                      2
Physics & Mathematics                                                   2
                                                                       ..
Psychology                                                              1
Economics                                                               1
Business Management; Aeronautical Engineering                           1
Chemistry; Physiological Optics                                         1
Electronics Engineering                                                 1
Mathematical & Electrical Science                                       1
Philosophy                                                              1
Industrial Engineering                                                  1
Engineering Sciences; Astronautics & Mathematics                        1
Mathematics & Economics                                                 1
Military Engineering                                                    1
Astronomy                                                               1
Bioscience                                                              1
Biochemistry                                                            1
Applied Biology; Mechanical Engineering                                 1
Mathematics & Statistics; Chemistry                                     1
Nuclear Engineering                                                     1
Animal Nutrition                                                        1
Astronautics                                                            1
Physics & Mechanical Engineering                                        1
Business Economics                                                      1
Earth & Planetary Science                                               1
Aeronautics & Astronautics; Earth, Atmospheric & Planetary Sciences     1
Physics & Astronautical Engineering                                     1
Physical Science                                                        1
Human Biology                                                           1
Mechanical & Aeronautical Engineering                                   1
Ceramic Engineering                                                     1
Aerospace Engineering & Mechanics                                       1
Accounting                                                              1
Name: Undergraduate Major, Length: 83, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [45]:
# Your code here:
astronauts.to_csv('astronauts.xls', index=False)

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [56]:
# Your code here:

df = pd.read_csv('/Users/macbookpro/Downloads/fertility_Diagnosis.txt')
colnames = ['Seasons','Age','Childish disease','Accident','surgical intervention', 'High fevers','Frequency','Smoking habit','Alcohol consumption', 'Sitting', 'Diagnosis']
df= pd.DataFrame(fertility, columns=colnames)
print(df.head())

   -0.33  0.69  0  1  1.1  0.1  0.8  0.2  0.88  N
0  -0.33  0.94  1  0    1    0  0.8    1  0.31  O
1  -0.33  0.50  1  0    0    0  1.0   -1  0.50  N
2  -0.33  0.75  0  1    1    0  1.0   -1  0.38  N
3  -0.33  0.67  1  1    0    0  0.8   -1  0.50  O
4  -0.33  0.67  1  0    1    0  0.8    0  0.50  N