## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [6]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here
# sample(population, k) method of random.Random instance
# Chooses k unique random elements from a population sequence or set.

population = [i for i in range(0,101)]
k = 80

sample_list_1= random.sample(population, k)
print(sample_list_1)

[64, 15, 94, 84, 62, 29, 92, 30, 24, 61, 72, 80, 35, 53, 98, 7, 75, 36, 89, 44, 91, 8, 69, 46, 48, 26, 42, 3, 47, 97, 39, 96, 10, 19, 86, 50, 16, 60, 68, 34, 33, 40, 81, 73, 66, 87, 51, 79, 41, 0, 27, 23, 18, 25, 20, 52, 78, 1, 54, 38, 85, 90, 58, 76, 71, 49, 2, 59, 21, 95, 28, 5, 55, 9, 14, 63, 45, 13, 56, 22]

In [8]:
print(sorted(sample_list_1))

[0, 1, 2, 3, 5, 7, 8, 9, 10, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 66, 68, 69, 71, 72, 73, 75, 76, 78, 79, 80, 81, 84, 85, 86, 87, 89, 90, 91, 92, 94, 95, 96, 97, 98]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
dupe_sl1 = sample_list_1
print(set(dupe_sl1))
set1= set(dupe_sl1)

{0, 1, 2, 3, 5, 7, 8, 9, 10, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 66, 68, 69, 71, 72, 73, 75, 76, 78, 79, 80, 81, 84, 85, 86, 87, 89, 90, 91, 92, 94, 95, 96, 97, 98}

In [10]:
print(len(set1)-len(sample_list_1))

0

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [14]:
# Your code here

population = [i for i in range(0,101)]
k = 80
sample_list_2= random.choices(range(100),k=80)

print(sample_list_2)

[10, 34, 35, 11, 42, 34, 22, 69, 17, 64, 24, 79, 72, 35, 56, 58, 3, 35, 23, 88, 24, 39, 42, 65, 10, 16, 87, 53, 39, 71, 38, 62, 19, 27, 40, 89, 67, 69, 28, 46, 72, 83, 97, 24, 43, 88, 14, 56, 1, 22, 47, 50, 44, 33, 24, 75, 45, 99, 97, 13, 57, 91, 11, 41, 73, 25, 9, 95, 52, 30, 46, 61, 47, 37, 49, 80, 28, 35, 32, 39]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here
set2= set(sample_list_2)
print(set2)

{0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 18, 19, 20, 23, 24, 27, 28, 31, 37, 38, 40, 41, 43, 44, 46, 47, 48, 49, 51, 53, 54, 57, 58, 59, 63, 64, 65, 68, 69, 72, 77, 80, 81, 82, 83, 90, 91, 92, 93, 94, 98}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [18]:
# Your code here
set3=set1-set2

print(set3)

{2, 7, 14, 21, 22, 25, 26, 29, 30, 33, 34, 35, 36, 39, 42, 45, 50, 52, 55, 56, 60, 61, 62, 66, 71, 73, 75, 76, 78, 79, 84, 85, 86, 87, 89, 95, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [19]:
# Your code here
set4=set2-set1
print(set4)

{65, 4, 37, 6, 11, 12, 43, 77, 82, 83, 57, 93, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [21]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{0, 1, 3, 5, 8, 9, 10, 13, 15, 16, 18, 19, 20, 23, 24, 27, 28, 38, 40, 41, 44, 46, 47, 48, 49, 51, 53, 54, 58, 59, 63, 64, 68, 69, 72, 80, 81, 90, 91, 92, 94, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [22]:
# Your code here

#### Create an empty set called `set6`.

In [25]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [26]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [27]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [28]:
# Your code here
set2.issubset(set1), set3.issubset(set1)

(False, True)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [29]:
# Your code here
set345=set3.union(set4,set5)
set12=set1.union(set2)
set345==set12

True

#### Using the `pop` method, remove the first element from `set1`.

In [32]:
# Your code here
lst1=list(set1)
lst1.pop(0)
set1bis=set(lst1)
print(set1bis)

{1, 2, 3, 5, 7, 8, 9, 10, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 66, 68, 69, 71, 72, 73, 75, 76, 78, 79, 80, 81, 84, 85, 86, 87, 89, 90, 91, 92, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [33]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1.difference(set(list_to_remove)))

{0, 2, 3, 5, 7, 8, 10, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 66, 68, 72, 73, 75, 76, 78, 80, 84, 85, 86, 87, 90, 92, 94, 95, 96, 97, 98}